{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2>Tous les jeux</h2>
        
    <div class="card-columns">
        {% for jeu in jeux %}
            {{ include("game/_card.html.twig") }}
        {% endfor %}
    </div>

    <hr>
    <p>Il y a <strong>{{ nb_joueurs }}</strong> joueurs inscrits dans la base de données.</p>
{% endblock %}

{% block piedpage %}footer de la page d'accueil{% endblock %}
